*.weights
*.cfg
*.names
detection_data/
test_detection_data/
*.jpg
*.png
*.log
__pycache__/
*.pyc
venv/
*.env
temp.txt
*.json
vids/
runs_yolo/
*.pt
dataset/
runs/
test/
train/
val/
*.txt
*.zip
models/
*.pt
*.bin
*.xml
*.onnx